node_modules/
.env
.env.local
.DS_Store
*.log
.vscode/
.idea/
dist/
build/
*.swp
*.swo
*~
.cache/
.history/
.pnp
.pnp.js
coverage/
.next/
out/
.nuxt/
dist/
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
